@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-vazir: var(--font-vazir), ui-sans-serif, system-ui;
  --font-outfit: var(--font-outfit), ui-sans-serif, system-ui;

  /* Default sans font */
  --font-sans: var(--font-outfit);
}

/* RTL overrides for global font */
[dir="rtl"] {
  --font-sans: var(--font-vazir);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}